<div class="wrapper">
    <h1 id="results-header">Your Results: <%=@correct_submissions%>/10</h1>
    <div id="new-session">
        <a href="/newsession">New Game</a>
    </div>

    <div id="results-text">
        <% for i in 0..9 %>
            <p>
                <b><%=i+1%>. <%=@words[i]%> </b><br />
                <% if @song_urls[i] %><a href=<%=@song_urls[i]%>><%=@results[i]%></a><% else %><%=@results[i]%><% end %>
                <% if @valids[i] == true %> - CORRECT! [+1] <%elsif @valids[i] == false %> - INCORRECT! [+0] <% end %>
            </p>
        <% end %>
    </div>
</div>
