<div class="wrapper">
    <div id="results">
        <h1>Your Results</h1>
        <h2><%=@correct_submissions%>/10</h2>
        <div>
            <% for i in 0..9 %>
                <p>
                    <%= @words[i] %> :

                    <% if @results[i] %>
                        <a href="https://genius.com/songs/<%= @song_ids[i].to_s %>">
                            <%= @results[i] %>
                        </a>
                    <% end %>

                    <% if @valids[i] %>
                        (<%= @valids[i] %>)
                    <% end %>
                </p>
            <% end %>
        </div>

        <a href="/newsession">New Game</a>
    </div>
</div>
